// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  background-image: url("http://getwallpapers.com/wallpaper/full/6/a/2/1036980-cool-theater-backgrounds-2550x1800-for-android-tablet.jpg");

}

.index-img {
  max-width: 150px;
}

.show-img {
  max-width: 25%;
}

img {
  max-width: 100%;
}

.index-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: center;
  margin-top: 20px;
  // max-height: 1000px;
  overflow: hidden;
  overflow: auto;
  // padding-top: 250px;
  // background-color: red;
  // max-width: 960px;
  /* padding: 1.25%;  */
  width: 90%;
  margin: 0px auto;
}

.index-tile {
  max-width: 200px;
  border-radius: 25px;
  padding: 10px;
  min-width: 200px;
  margin: 8px;
  text-align: center;
  // background-color: lightgrey;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav {
  // background: #fff;
  background-image: url("https://img.freepik.com/free-photo/background-crumpled-paper-sheet_1194-7545.jpg?size=626&ext=jpg");
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 0px auto;
  // margin-bottom: 10px;
  max-width: 960px;
  // padding: 2.25%; 
  width: 95%;
  max-height: 200px;
  font-family: molle;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
}

.logo {
  max-height: 200px;
  margin: 0px;
}


h6  {
  margin: 0px;
  padding: 0px;
}


.show-body, form, h1 {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: 0px auto;
  margin-bottom: 10px;
  max-width: 960px;
  padding: 2.25%; 
  width: 85%;

  // font-family: molle;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
}


// h1 {
//   background-color: whitesmoke;
// }